<!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Document</title>
 </head>
 <body>		
 		<p>Title : {{ post.title }}</p>
 		<p>Body : {{ post.body }}</p>
 		<p>Publication Date : {{ post.publicationDate }}</p>
 		<p>{{ post.comments.body }}</p>
 		<p>{{ post.tags.id }}</p>
 		<p>Author : {{ post.author }}</p>
 
 </body>
 </html> 